{% extends layout() %}

{% block title %}Login{% endblock %}
{% block tags %}authentication,auth,login{% endblock %}

{% block js %}{% endblock %}
{% block css %}{% endblock %}

{% block body %}
	<form method="POST" action="{{ path_for('login.post') }}">
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Username"/>

		<label for="password">Password</label>
		<input type="password" name="password" placeholder="Password"/>

		<label for="remember">Remember me?</label>
		<input type="checkbox" name="remember"/>

		<button type="submit">Login</button>

		{{ csrf_input() }}
	</form>
{% endblock %}